* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* select a text */

::selection {
  background-color: #a96590;
  color: white;
}

/* الصفخة كاملة */

body {
  height: 100vh;
  background-image: url(background2.png);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 75px 110px 110px auto 300px;
  grid-template-areas: /* top navigation bar */
    " nav nav nav nav nav nav nav nav nav nav"
    /* welcome */ ". sec sec sec sec sec sec sec sec sec "
    /* products title */ "side side side  side side side side side side  side "
    /* products */ "cont cont cont cont cont cont cont cont cont cont"
    /* clients */ "clients clients clients clients clients clients clients clients clients clients"
    /* footer*/ "foot foot foot foot foot foot foot foot foot foot";

  font-family: Georgia, "Times New Roman", Times, serif;
  background-position: top;
  background-size: cover;
  color: #a96590;
  border-right: 10px #e9e9e9 solid;
  border-left: 10px #e9e9e9 solid;
  border-top: 3px #e9e9e9 solid;
}

/* Fixed top Bar */

.navbar {
  grid-area: nav;
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
  list-style-type: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  box-shadow: 0 0.4rem 0.3rem rgb(92 83 83 / 50%);
  z-index: 1000;
  margin: -4px 0px 0px -10px;
}
.navbar li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: white;
}

.logo {
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 32px;
  text-decoration: none;
  color: rgb(250, 250, 250);
  background-color: #fddef3;
  border-radius: 4px;
  padding-right: 29px;
  padding-left: 40px;
  border-color: #a96590;
  border-width: 5px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 24px;
  margin-right: -10px;
  margin-left: 6px;
  font-size: 16px;
  position: absolute;
  left: 5px;
}
h1 {
  color: #a96590;

  font-style: oblique;
  /*  font-family: cursive;
  */
}

.logo:hover {
  background-color: white;
  color: #db89bd;
  transition-duration: 1s;
}

.fbinsta {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  margin-left: -79px;
}

.fb {
  color: #ffffff;
  background-color: #3b5998;
  padding: 6px 10px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 19px;
  font-size: 24px;
}
.fb:hover {
  color: #1e4291;
  background-color: #cc9ac2;
  transition-duration: 1s;
  border-color: #3b5998;
}

.insta {
  color: rgb(255, 255, 255);
  background-color: deeppink;
  padding: 8px 10px;

  border-radius: 20px;
  font-size: 20px;
  text-decoration: none;
}
.insta:hover {
  color: deeppink;
  background-color: #cc9ac2;
  transition-duration: 1s;
  border-color: deeppink;
}
.about {
  position: absolute;
  right: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 32px;
  text-decoration: none;
  color: #fddef3;
  background-color: white;
  border-radius: 4px;
  padding-right: 29px;
  padding-left: 40px;
  border-color: #a96590;
  border-width: 5px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 24px;

  font-size: 16px;
}

.lang {
  color: #000;
}
.en,
.ar {
  position: absolute;
  left: 398px;
  cursor: pointer;
}
.ar {
  margin-top: 29px;
  margin-left: 9px;
}
.en {
  margin-bottom: 18px;
}
.en::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0px;
  background-color: #a96590;
}

/*  Welcome  */

section {
  grid-area: sec;
  color: #a96590;
  text-align: center;
  background-color: rgb(233, 233, 233);
  border-radius: 16px;
  font-size: 27px;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Products Title  */

aside {
  grid-area: side;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 2rem;
  background-color: #cea5acb8;
  padding: 0.2rem 0.5rem;
  color: rgb(169 101 144);
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
.space {
  background-color: transparent;
}

/* Products */

.content1 {
  grid-area: cont;
  background-color: #dfe3e6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36%, 1fr));

  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

[class*="card"] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  border-radius: 20px;
  padding-bottom: 44px;
}

.price {
  color: grey;
  font-size: 22px;
}

button,
.step {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
  transition-duration: 0.2s;
}

/* cleints area */

.clients {
  grid-area: clients;
  display: flex;
  align-items: center;
  background-image: url(./background2.png);
  background-size: contain;
  margin-top: 123px;
  margin-bottom: -83px;
  box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 39%);
  border-radius: 66px;
  text-align: center;
  justify-content: center;
}
#clients {
  grid-area: clients;
  margin-top: 46px;
  justify-self: center;
}
.span {
  font-size: 25px;
  background-color: #cea5ac75;
  padding: 38px 1px;
  margin: 7px 31px;
  color: rgb(169 101 144);
  border-radius: 5px;
}
.maindiv {
  font-size: 20px;
}

/* Footer */

footer,
.link {
  grid-area: foot;
  background-color: #e2e2e2c4;
  padding: 54px;
  padding-bottom: 200px;
}
.contact,
.link {
  color: #a96590;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 19px;
  font-weight: bold;
}
.link {
  font-family: "Sacramento", cursive;
  text-decoration: none;
  color: #a96590;
  background-color: #fddef3;
  padding: 7px 26px 7px 36px;
  border-color: #a96590;
  border-width: 5px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 24px;
}

footer {
  margin: 10% 0;
}

/* products image style */

img {
  width: 100%;
  height: 490px;
}

/* nav bar Responsive Design */

@media (max-width: 960px) {
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    background-color: #ffffff;
    border-radius: 0px;
    padding-right: 5px;
    padding-left: 10px;
    border-color: #a96590;
    border-width: 5px;
    border-style: solid;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 24px;
    margin-right: 15px;
    margin-left: 7px;
    font-size: 8px;
    position: absolute;
    left: -3px;
  }

  .fb {
    color: #ffffff;
    background-color: #3b5998;
    padding: 7px 2px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 19px;
    font-size: 16px;
  }
  .insta {
    color: rgb(255, 255, 255);
    background-color: deeppink;
    padding: 8px 0px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
  }
  .about {
    position: absolute;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-decoration: none;
    color: #fddef3;
    background-color: white;
    border-radius: 4px;
    padding-right: 6px;
    padding-left: 16px;
    border-color: #a96590;
    border-width: 5px;
    border-style: solid;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 24px;
    font-size: 8px;
  }

  .en,
  .ar {
    position: absolute;
    left: 266px;
    font-size: 15px;
  }
  .ar {
    margin-top: 29px;
    margin-left: 9px;
  }
  .en {
    margin-bottom: 18px;
  }
  .en::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    background-color: #a96590;
  }

  @media (max-width: 534px) {
    .fbinsta {
      display: flex;

      position: absolute;
    }
    .fb {
      font-size: 9px;
      margin-top: 3px;
    }
    .insta {
      border-radius: 20px;
      font-size: 9px;
      margin-top: -18px;
    }
    /* .about {
       display: none;
     } */

    .en,
    .ar {
      position: absolute;
      left: 172px;
      font-size: 14px;
    }
    .ar {
      margin-top: 33px;
      margin-left: 5px;
    }
    .en {
      margin-bottom: 8px;
    }
    .en::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0px;
      background-color: #a96590;
    }
  }
  @media (max-width: 480px) {
    .insta {
      position: absolute;
      right: 5px;
      margin-top: -16px;
    }
    .fb {
      position: absolute;
      right: -43px;
    }

    .en,
    .ar {
      position: absolute;
      left: 43px;
      font-size: 14px;
    }
    .ar {
      margin-top: 29px;
      margin-left: 9px;
    }
    .en {
      margin-bottom: 18px;
    }
    .en::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0px;
      background-color: #a96590;
    }
  }
  @media (max-width: 400px) {
    .navbar {
      grid-area: nav;
      background-color: #e9e9e9;
      color: rgb(0, 0, 0);
      list-style-type: none;
      position: fixed;
      display: block;
      width: 100%;
      height: 80px;
      box-shadow: 0 0.4rem 0.3rem rgb(92 83 83 / 50%);
      z-index: 1000;
      margin: -4px 0px 0px -3px;
    }
    .fbinsta {
      display: block;
      right: 59%;
      position: absolute;
      margin-left: 67%;
      padding-top: 43px;
    }

    .insta {
      position: absolute;
      right: 12px;
      margin-top: -14px;
      padding: 5px 8px;
    }
    .fb {
      position: absolute;
      right: -55px;
      margin-top: 0.5px;
      padding: 5px 8px;
    }

    .en,
    .ar {
      position: absolute;
      left: 57px;
      font-size: 12px;
      top: 43px;
    }
    .ar {
      margin-top: 17px;
      margin-left: 6px;
    }
    .en {
      margin-bottom: 18px;
    }
    .en::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0px;
      background-color: #a96590;
    }
  }

  /* Welcome responsive design */
  @media (max-width: 720px) {
    section {
      grid-area: sec;
      color: #a96590;
      text-align: center;
      background-color: rgb(233, 233, 233);
      border-radius: 16px;
      font-size: 10px;
      width: 92%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  span {
    font-size: 15px;
    background-color: #cea5acb8;
    padding: 0.2rem 0.5rem;
    color: rgb(169 101 144);
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

@media (max-width: 481px) {
  span {
    font-size: 15px;
    background-color: #cea5acb8;
    padding: 0.2rem 3px;
    color: rgb(169 101 144);
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitali;
  }
  section {
    grid-area: sec;
    color: #a96590;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 16px;
    font-size: 9px;
    /* width: 96%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 359px) {
  span {
    font-size: 11px;
    background-color: #cea5acb8;
    padding: 0.2rem 3px;
    color: rgb(169 101 144);
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
  }
  section {
    grid-area: sec;
    color: #a96590;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 16px;
    font-size: 7px;
    width: 89.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Products responsive design */
@media (max-width: 550px) {
  .content1 {
    grid-area: cont;
    background-color: #dfe3e6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 50px;
  }
}

/* clients area responsive */
@media (max-width: 690px) {
  .span {
    font-size: 13px;
    background-color: #cea5ac75;
    padding: 28px 0px;
    margin: 7px 4px;
    color: rgb(169 107 149);
    border-radius: 70%;
    font-weight: bolder;
  }
  .clients {
    grid-area: clients;
    display: flex;
    align-items: center;
    background-image: url(./background2.jpg);
    background-size: contain;
    margin-top: 123px;
    margin-bottom: -22px;
    box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 39%);
    border-radius: 66px;
    text-align: center;
  }
}

/* The scroll bar style */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #a96590;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a96590b8;
}

.info {
  background-color: teal;
}
